@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 253, 244;
  --background-end-rgb: 220, 252, 231;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 51, 0;
  --background-end-rgb: 0, 102, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}